<%- include('./partials/header.ejs') %>

<main>
    <h2>Blogs</h2>
    <div class="blogs">
        <% if (blogs.length > 0 ) { %>
            <% blogs.forEach(blog => { %>
                <div class="blog">
                    <div class="blog__head">
                        <div class="blog__head__title"><%= blog.title %></div>
                        <div class="blog__head__tag"><%= blog.tag %></div>
                    </div>
                    <div class="blog__body"><%= blog.body %></div>
                </div>
            <% }) %>
        <% } else { %>
            <div class="empty">There are no blogs in the database.</div>
        <% } %>
    </div>
</main>

<%- include('./partials/footer.ejs') %>
